*{
  margin: 0;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 30px;
  margin-top: 0rem;
}


body {
  background-color: rgba(125, 211, 125, 0.421);
  height: 100%;
  width: 100%; 
}



p{
  background-color: #999;
  padding: 10px;
}