*{
  margin: 40px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 5px;
  margin-top: 25px;
}


body {
  background-color: rgba(193, 235, 193, 0.421);
  height: 100%;
  width: 100%; 
}



p{
  background-color: #e28787;
  padding: 10px;
}

footer{
  background-color: #d64fbb75;
}